.wrapper {
  color: black;
}
// .wrapperActive {
//   position: absolute;
//   z-index: 1;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.401);
// }

.cards {
  gap: 15px;
  // max-width: 100%;
  // position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .card {
    border-radius: 10px;
    box-shadow: inset -5px -5px 35px 0px #00000030;
    box-sizing: border-box;
    width: calc(25% - 15px);
    padding: 10px;
    transition: all 200ms;
    &:hover {
        transition: all 200ms;
      transform: scale(1.05);
    }
    ul {
      li {
        list-style: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .cards {
    gap: 5px;
    .card {
      width: calc(50% - 5px);
    }
  }
}
